*{
  margin: 0;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  // height: 10vw;
  li{
    &:first-of-type
    {
      font-family: 'Sedgwick Ave', cursive;
    }
    display: flex;
    list-style-type: none;
    color: white;
    height: 10vw;
    padding: 0 5vw;
    // margin: 2vw;
    align-items: center;
    &:hover{
      cursor: pointer;
      background: black;
    }
  }
}

#container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2vw;
  section{
    width: 30vw;
    display:block;
    text-align: center;
    margin-left:2vw;
    margin-top: 2vw;
    transition: transform 0.5s;
    img{
      width: 100%;
      &:hover{
        transform: scale(1.2);
        align-items: center;

      }
    }
  }
}

.active{
  opacity: 1;
  transition: opacity 0.9s ease-in;
  align-items: center;
}
